@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>WVU-P Purchase Requisition Application</h3>

<p>This purchase requisition application is used to make purchasing requests for items in various classes.</p>
