@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<br />
<h4>Developers:</h4>
<address>
    <br />
    Samantha Burkey<br />
    Brady Starcher
</address>

<address>
    <strong>Emails:</strong> sburkey@wvup.edu<br />

</address>
